.bottom-navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background: #fff;
  border-radius: 30px 30px 0 0;
  padding: 10px 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
}

.bottom-navbar button,
.bottom-navbar a {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  border-radius: 20px;
  transition: all 0.25s ease;
}

.bottom-navbar button:active:not(.float),
.bottom-navbar a:active:not(.float) {
  transform: scale(1.2);
}

.bottom-navbar button.float {
  position: relative;
  z-index: 1;
  background: #007E2b;
  color: #fff;
  border-radius: 25px;
  height: 60px;
  width: 60px;
  box-shadow: 0 10px 20px 0 rgba(24, 117, 36, 0.4);
}

.bottom-navbar .button.active {
  background-color: rgb(155, 214, 155); /* Change color when active */
  /* color: rgb(71, 179, 71); Set text color to white when active */
}
.bottom-navbar .icon {
  font-size: 1.5rem;
  color: #8A8A8A; /* Set default color to black */
}

.bottom-navbar .icon.active {
  color: rgb(0, 128, 0); /* Change icon color when active */
}


.bottom-navbar button i,
.bottom-navbar a i {
  font-size: 1.5rem;
  pointer-events: none;
}

.con-effect {
  position: absolute;
  width: 60px;
  height: 50px;
  top: 0;
  left: 0;
}

.effect {
  background: rgba(76, 232, 141, 0.15);
  width: 60px;
  height: 50px;
  border-radius: 18px;
}

.logo {
  font-size: 25px;
  text-align: center;
  color: black;

}
